

.itemDiv{
    /* background-color: brown; */   --tw-bg-opacity: 1;
    /* background-attachment: fixed; */
    background-image: linear-gradient(16deg, 
    rgba(2, 0, 50, 0.5) 7.54%,  /* 50% opacity */
    rgba(3, 0, 30, 0.5) 29.76%   /* 50% opacity */
    );
   display: grid;
   place-items: center;
   padding: 30px 0px;
}

.card-item{
    /* background-color: rgb(152, 65, 18); */
    margin-bottom: 40px !important;
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.card-in{
    --tw-bg-opacity: 1;
    background: linear-gradient(to bottom, rgb(3 0 40 / var(--tw-bg-opacity)), #ffffff10);
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, #ffffff07,  rgb(3 0 20 / var(--tw-bg-opacity))) 1;
    color: white;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
}
.carousel-test{
    /* background-color: blue; */
    width: calc(100% - 100px);
    max-width: 1400px;
    padding: 40px 0px;

}
.arrow {
    position: absolute;
    top: 91%;
    z-index: 1000;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
    width: 30px;
    height: 30px;
    color: #333; /* Customize color */
    background-color: blueviolet;
}

.arrow.left {
    left: calc(50% - 32px);
}

.arrow.right {
    right: calc(50% - 32px);
}
.profile-pic {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%; /* Circular image */
    margin-bottom: 10px;
}

.card-item h3, .card-item p {
    margin: 5px 0;
}

.work, .description {
    text-align: center;
    font-size: 14px; /* Adjust font size as needed */
}