.main {
    position: relative;
    
}

.class{
    border: 1px;
}

.main::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Height of the border */
    background: linear-gradient(to right, 
                                transparent 10%, 
                                #6a0dad 50%, 
                                transparent 90%);
    border-radius: 50px; /* Rounded edges */
}

.textDiv {
    --tw-bg-opacity: 0.5;
    background-attachment: fixed;
    background-image: linear-gradient(16deg,  
    rgba(3, 0, 20, var(--tw-bg-opacity)) 7.54%, /* Use rgba with variable opacity */
    rgba(3, 0, 30, var(--tw-bg-opacity)) 29.76% 
    );
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: calc(100% - 68px);
    height: calc(100vh - 68px);
    min-height: 540px;
    max-height: 800px;
}

.textDiv h1 {
    color: white;
    font-size: 54.334px;
    font-weight: 800;
    line-height: 70px;
}

.textDiv p {
    color: white;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
width: 80%;
max-width: calc(1000px - 100px);
}

.button {
    margin-top: 14px;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .029), hsla(0, 0%, 100%, .06) 50%, hsla(0, 0%, 100%, 0));

    color: rgb(255, 255, 255);
    padding: 10px 13px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
     border: 1px solid #ffffff30; 
    --tw-shadow: inset 0px -6px 15px rgba(156, 178, 255, .25), inset 0px 6px 15px rgba(229, 156, 255, .25);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius:6px;
    transition: all 0.5s ease;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);

}

.button:hover {
    padding: 10px 25px;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .029), hsla(0, 0%, 100%, .06) 50%, hsla(0, 0%, 100%, 0));

    border: 1px solid #ffffff30; 
    --tw-shadow: inset 0px -6px 15px rgba(156, 178, 255, .25), inset 0px 6px 15px rgba(229, 156, 255, .25);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}

.button:hover::before {
    content: "Explore";
    padding-right: 10px;
    transition: all 0.3s ease;
}

@media (max-width: 526px) {


    .textDiv h1 {
        color: white;
        font-size: 24.334px;
        font-weight: 700;
        line-height: 36px;
    }
    
    .textDiv p {
        color: white;
        margin-bottom: 32px;
        font-size: 12px;
        font-weight: 300;
    
    }
    
    
}

@media (min-width: 528px) and (max-width: 826px) {
    .textDiv h1 {
        color: white;
        font-size: 34.334px;
        font-weight: 700;
        line-height: 46px;
    }
    
    .textDiv p {
        color: white;
        margin-bottom: 32px;
        font-size: 14px;
        font-weight: 300;
    
    }
  }
  
