.footer-main {
    --tw-bg-opacity: 1;
    background-color: rgb(3 0 20 / var(--tw-bg-opacity));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative; /* Required for positioning the pseudo-element */
}

.footer-main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.5px; /* Adjust this value based on the desired border thickness */
    background: linear-gradient(to right, black , white , black);
}

.footer-in{
    margin: 10px 0px !important;
    width: calc(100% - 100px);
    max-width: 1400px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-p{
    display: flex;
    column-gap: 20px;
    padding-top: 7px;
    /* background-color: brown; */
}
.footer-p p{
    /* background-color: blueviolet; */
    font-size: 14px;
    font-weight: 500;
    color: rgb(172, 172, 172);
}

@media (max-width: 526px) {
    .footer-in{
        margin: 10px 0px !important;
        /* background-color: blueviolet; */
        width: calc(100% - 50px);
        max-width: 1400px;
        margin: 0px;
        padding: 0px;
        display: grid;
        place-items: center;
        justify-content: center;
    }
    
}
