.header {
    /* background-color: rgb(22, 26, 25); */
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    /* padding: 0px 60px; */
    height: 68px;
    --tw-bg-opacity: 1;
    background-color: rgb(3 0 20 / var(--tw-bg-opacity));
}

.nav {
    width: calc(100% - 100px);
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
  
}

.nav ul{
    display: flex;
    /* gap: 20px; */
    /* background-color: rgb(255, 246, 127); */
}
.nav ul li{
    list-style: none;
   
}
.nav ul li a{
    /* background-color: blue; */
    /* border-bottom: 1px solid white; */
    padding: 6px 0px;
    margin: 0px 12px;
    --tw-text-opacity: 1;
    color: rgb(145 142 160 / var(--tw-text-opacity));
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.nav ul li a.active {
    border-bottom: 2px solid  rgb(145 142 460 / var(--tw-text-opacity));
    --tw-text-opacity: 1;
    color: rgb(145 142 160 / var(--tw-text-opacity));
}

.logo{
    color: white;
  font-size: 24px;
  font-weight: 700;
}


