body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --tw-bg-opacity: 1;
  background-color: rgb(3 0 20 / var(--tw-bg-opacity));
  /* background-color: #6a0dad !important; */
  /* background-image: url(../public/images/grid-background.svg);
  background-repeat: no-repeat;
  background-size: cover; */
  color: white;
  position: relative; /* Ensure pseudo-element is positioned relative to body */

}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../public/images/grid-background.svg);

  opacity: 0.3; /* 30% opacity */
  z-index: -1; /* Ensure it is behind the content */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Targets the scrollbar itself */
::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

/* Targets the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(3 0 20 / var(--tw-bg-opacity)); /* color of the draggable part */
  border-radius: 10px; /* roundness of the draggable part */
  border: 3px solid #6a0dad; /* creates a border around the draggable part */
}

/* Targets the part of the scrollbar track where the thumb is not present */
::-webkit-scrollbar-track {
  background: #e5e5e573; /* color of the track */
  border-radius: 10px; /* roundness of the track */
}
